@media screen and (min-width: 1061px) {
  
}
  
@media screen and (max-width: 1060px) {
  
    /*body {
      background: black;
    }*/
  
}
  
@media screen and (max-width: 990px) {
  
    /*body {
      background: grey;
    }*/

  }
  
@media screen and (max-width: 920px) {
  
    /*body {
      background: purple;
    }*/
  
}
  
@media screen and (max-width: 768px) {
  
    /*body {
      background: pink;
    }*/

    .visit-container {
        max-height: initial;
        flex-direction: column;
    }

    .visit-new {
        margin: 0;
        margin-bottom: 25px;
    }

    .visit-img-cont {
        width: 100%;
        max-height: 400px;
    }

    #yourmom {
        width: 100%;
    }

    .bid {
        text-align: center;
    }

    .banner-row {
        height: 150px;
    }

    #banner {
       top: 0; 
    }

    #acc-pfp-cont {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .acc-dis-details {
        margin-left: 0;
    }

    #acc-unm {
        margin-top: 0;
    }
  
}
  
@media screen and (max-width: 600px) {
  
    /*body {
      background: blue;
    }*/

    h1 {
        margin-left: 4px;
        margin-right: 8px;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .bx-store {
        color: var(--primary);
        font-size: 1.5rem;
    }

    #theme-btn span {
        display: none;
    }

    #theme-btn {
        border-radius: 35px;
        padding: 8px 10px;
    }

    #theme-btn i {
        margin-right: 0;
    }
  
    .visit-img-cont {
        width: 100%;
        max-height: 300px;
    }

    .comment-form-box {
        max-width: 90%;
    }

    #add-cmnt-btn {
        margin-right: 40px;
    }

    #no-cmnts-text {
        margin-top: 16px;
        margin-left: 16px;
    }

    .card-cont {
        width: 100%;
        padding: 8px 24px;
    }
    
    .card {
        flex-direction: initial;
    }

    .prof-cont .visit-child {
        margin: 0;
    }

    .act-list-link {
    }
    
    .act-list-card {
        display: flex;
    }
    
    .act-list-img-cont {
        min-width: initial;
        width: 40%;
        height: 150px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
    }
    
    .card-body {
        width: 60%;
        height: max-content;
    }

    .act-list-title, 
    .act-list-text {
        max-width: 150px;
    }

    .user-modal {
        width: 290px;
    }

    .acct-card {
        margin-right: -16px;
    }

    .acct-card-cont {
        margin: 16px 0;
    }

    .acct-card-cont .wl-link {
        margin: 0;
    }

    .wl-item-cont .wl-card-cont {
        width: 85%;
    }

    .wl-card-img-cont {
        width: 35%;
    }

    .wl-card-img {
        object-fit: contain;
    }
    
}
  
@media screen and (max-width: 480px) {
  
  /*body {
    background-color: green;
  }*/

  #yourmom {
    padding: 0 16px;
  }

  .acc-dis-details {
    padding: 0 16px;
  }
  
}