{% extends "auctions/base.html" %}

{% block body %}
    <div class="card-grid-cont container">
        <br>
        <h3 class="page-title"><strong>Active Listings</strong></h3>
        <br>
        <div class="row justify-content-center">
            {% for listing in listings %}
            <div class="card-cont">
                <a href="/listing/{{ listing.details.id }}" class="act-list-link">
                    <div class="card act-list-card border-0 card-item">
                        <div class="act-list-img-cont">
                            {% if listing.details.image  %}
                                <img class="card-img-top act-list-img" src="{{ listing.details.image }}" alt="{{ listing.details.title }}">
                            {% else %}
                                <img class="card-img-top act-list-img" src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="No Image Found">
                            {% endif %}
                        </div>
                        <div class="card-body">
                        <h5 class="card-title act-list-title">{{ listing.details.title }}</h5>
                        {% load humanize %}
                        {% if listing.highest_bid.price is None %}
                        <p class="card-text act-list-text"><b>Price:</b> ${{ listing.details.starting_price|intcomma }}</p>
                        {% else %}
                        <p class="card-text act-list-text"><b>Price:</b> ${{ listing.highest_bid.price|intcomma }}</p> 
                        {% endif %}
                        <p class="card-text act-list-text">{{ listing.details.description }}</p>
                        <p class="card-text act-ist-create act-list-text">Created: {{ listing.details.creation_date }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
            <p>No active listings at this time.</p>
        {% endfor %}
        </div>
    </div>


{% endblock %}