{% extends "auctions/base.html" %}

{% block body %}

<div class="container">
    <div class="container log-reg-cont mng-cnt">
        <h2>Manage Account</h2>
        <br>
        {% if message %}
            <p class="alert alert-danger" role="alert">{{ message }}</p>
        {% endif %}
        <form onsubmit="event.preventDefault();" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.0.label }}:
                    {{ form_fields.0 }}
                </div>
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.1.label }}:
                    {{ form_fields.1 }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.2.label }}:
                    {{ form_fields.2 }}
                </div>
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.3.label }}:
                    {{ form_fields.3 }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.4.label }}:
                    {{ form_fields.4 }}
                </div>
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.5.label }}:
                    {{ form_fields.5 }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.6.label }}:
                    {{ form_fields.6 }}
                </div>
                <div class="form-group log-reg-item col mng-itm">
                    {{ form_fields.7.label }}:
                    {{ form_fields.7 }}
                </div>
            </div>
            <div class="row mng-btn-cont float-right">
                <input class=" log-reg-btn" id="mng-btn" type="submit" value="Save Changes" onclick="editProfile('{{ request.user.id }}')">
            </div>
        </form>
    </div>
</div>

{% endblock %}