{% extends "auctions/base.html" %}

{% block body %}
    <div class="container">
        <br>
        <h3 class="page-title"><strong>My Watchlist</strong></h3>
        <br>
        <div class="row justify-content-center">
            {% for listing in listings %}
            <div class="wl-card-cont wl-text">
                <a href="{% url 'auctions:listing' listing.id %}" class="wl-link">
                    <div class="wl-card">
                        <div class="wl-card-img-cont">
                            {% if listing.image %}
                                <img class="wl-card-img" src="{{ listing.image }}" alt="{{ listing.title }}">
                            {% else %}
                            <img class="wl-card-img" src="https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg" alt="No Image Found">
                            {% endif %}
                        </div>
                        <div class="card-body wl-card-details">
                            <h5 class="card-title wl-card-text">{{ listing.title }}</h5>
                            {% load humanize %}
                            <p class="card-text wl-card-text"><b>Current Price:</b> ${{ listing.starting_price|intcomma }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <p class="wl-text">You have no items in your watchlist.</p>
        {% endfor %}
        </div>
    </div>

{% endblock %}